.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

body{
    background-color:#7FFFD4;
}

.collapse{
    background-color: #F0FFFF;
}

.jumbotron{
    background-color: #F0FFFF;
    
}